<app-header></app-header>
<div id="icon">

    <fa-icon [icon]="faUser" style="font-size: 30px;"></fa-icon>
    <span class="ics"> Customers Information</span>
</div>

<div class="container" style="margin-top:20px ;">
    <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarSupportedContent2">


            <span ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" style="margin: 10px;">
                <span [ngbNavItem]="1">
                    <a ngbNavLink style="color:black;">
                        <fa-icon [icon]="faList" style="font-size: 20px;margin-right: 10px;color: black;"></fa-icon>
                        CustomerDetails
                    </a>
                    <ng-template ngbNavContent>
                        <div style="display:inline-flex; margin: 30px;" >
                            <div>
                                <img *ngIf="names?.gender==='male'" src="./assets/images/male.png" width="90px"
                                    style="float: left;padding-right: 10px;" />
                                <img *ngIf="names?.gender==='female'" src="./assets/images/female.png" width="90px"
                                    style="float: left;padding-right: 10px" />
                            </div>
                            <div style="margin-left: 70px;">
                                <span>
                                    <h2>{{names?.firstName|titlecase}} {{names?.lastName|titlecase}}</h2>
                                </span>
                                <span>{{names?.address}}</span><br />
                                <span>{{names?.city}} , {{names?.state?.name}}</span><br />

                            </div>
                        </div>
                    </ng-template>
                </span>
                <span [ngbNavItem]="2">
                    <a ngbNavLink style="color:black;">
                        <fa-icon [icon]="faTags" style="font-size: 20px;margin-right: 10px;color: black;"></fa-icon>
                        CustomerOrders
                    </a>
                    <ng-template ngbNavContent>
                        <div>

                            <div style="margin: 20px;">
                                <table class="table table-striped ">

                                    <tbody>
                                        <tr></tr>
                                        <h1>Orders for {{names?.firstName}} {{names?.lastName}}</h1>
                                        <tr></tr>
                                        <tr *ngFor="let order of names?.orders">
                                            <td>
                                                {{order.productName}}
                                            </td>
                                            <td>
                                                {{order.itemCost}}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                            </td>
                                            <td>
                                                {{names.cost|number}}
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </ng-template>
                </span>
                <span [ngbNavItem]="3">
                    <a ngbNavLink style="color:black;" >
                        <fa-icon [icon]="faPenSquare" style="font-size: 20px;margin-right: 10px;color: black;">
                        </fa-icon>EditCusomer
                    </a>
                    <ng-template ngbNavContent>
                        <section class="vh-100">
                            <div class="container py-5 h-100">
                                <div class="row justify-content-center align-items-center h-100">
                                    <div class="col-12 col-lg-9 col-xl-7">
                                        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                                            <div class="card-body p-4 p-md-5">
                                                <form  #contactForm="ngForm" >
                                                    <div class="form-outline mb-4">
                                                        <label class="form-label" for="firstName">First Name</label><br/>
                                                        <input type="text" class="form-control form-control-lg" name="firstName" 
                                                            [(ngModel)]="formdata.firstName" #firstname="ngModel" required minlength="5" maxlength="20" />
                                                            <div *ngIf="!firstname?.valid && (firstname?.dirty || firstname?.touched)" class="error">
                                                                <div *ngIf="firstname.errors">
                                                                  First Name is required
                                                                </div>
                                                                </div>
                                                    </div>
                                                    <div class="form-outline mb-4">
                                                        <label class="form-label" for="lastName">Last Name</label><br/>
                                                        <input type="text" id="lastName" class="form-control form-control-lg" name="lastName"
                                                            [(ngModel)]="formdata.lastName" />
                                                    </div>
                                                    <div class="col-md-6 mb-4">
                                                        <div class="form-outline mb-4">
                                                            <label class="form-label" for="form3Example8">Gender</label><br/>
                                                            <input type="text" class="form-control form-control-lg" name="gender"
                                                                [(ngModel)]="formdata.gender" />
                                                        </div>
                                                    </div>
                                                    <div class="form-outline mb-4">
                                                        <label class="form-label" for="form3Example8">Address</label><br/>
                                                        <input type="text" class="form-control form-control-lg" name="address"
                                                            [(ngModel)]="formdata.address" />
                                                    </div>
                                                    <div class="form-outline mb-4">
                                                        <label class="form-label" for="form3Example8">City</label><br/>
                                                        <input type="text" class="form-control form-control-lg" name="city"
                                                            [(ngModel)]="formdata.city" />
                                                    </div>
                                                    <div class="row" name="state">
                                                        <div class="col-md-6 mb-4" class="form-outline" >
                                                            <div class="form-outline mb-4">
                                                                <label class="form-label" for="statename">
                                                                    statename</label><br/>
                                                                <input type="text" class="form-control form-control-lg" name="name"
                                                                    [(ngModel)]="formdata.state.name" required="formdata" />
                                                            </div>
                                                            <div class="form-outline mb-4">
                                                                <label class="form-label" for="stateabbreviation">
                                                                    stateabbreviation</label><br/>
                                                                <input type="text" class="form-control form-control-lg" name="abbreviation"
                                                                    [(ngModel)]="formdata.state.abbreviation" />
                                                            </div>
                                                        </div>
                                                    </div>
                        
                                                    
                                                    <h1 class="mb-2 pb-1"> Orders</h1>
                                                    <div class="row" name="orders">
                                                        <div class="col-md-6 mb-4" class="form-outline" *ngFor="let d of formdata.orders">
                                                            <div class="form-outline mb-4">
                                                                <label class="form-label" for="statename">
                                                                    productName</label><br/>
                                                                <input type="text" class="form-control form-control-lg" name="productName"
                                                                    [(ngModel)]="d.productName" />
                                                            </div>
                                                            <div class="form-outline mb-4">
                                                                <label class="form-label" for="stateabbreviation">
                                                                    itemCost</label><br/>
                                                                <input type="text" class="form-control form-control-lg" name="itemCost"
                                                                    [(ngModel)]="d.itemCost" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-outline mb-4">
                                                        <label class="form-label" for="lastName">
                                                            Latitude</label><br/>
                                                        <input type="text" id="lastName" class="form-control form-control-lg" name="Latitude"
                                                            [(ngModel)]="formdata.latitude" />
                                                    </div>
                                                    <div class="form-outline mb-4">
                                                        <label class="form-label" for="lastName">
                                                            Longitude</label><br/>
                                                        <input type="text" id="lastName" class="form-control form-control-lg" name="longitude"
                                                            [(ngModel)]="formdata.longitude" />
                                                    </div>
                                                    <button type="submit" class="btn btn-success btn-lg mb-1" (click)="update()">
                                                        update
                                                        Customer </button>
                                                        <button type="submit" class="btn btn-success btn-lg mb-1" (click)="deleted()">
                                                            delete
                                                            Customer </button>
                                                        <p>{{contactForm.valid}} </p>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </ng-template>
                </span>
            </span>



        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent2"
            aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>

    <!-- <pre>Active: {{ active }}</pre>
    
     <button class="btn btn-primary" [routerLink]="['/EditCustomerdetails',names.id]">route to edit customer</button>
    
    -->