
<section class="vh-100 gradient-custom">
    <div class="container py-5 ">
        <div class="row justify-content-center align-items-center ">
            <div class=" col-xl-9">
                <div class="card shadow-2-strong card-registration" style="border-radius: 5px;">
                    <div class="card-body p-6 ">
                        <h1><b>New Customer</b></h1>
                        <form #contactForm="ngForm" (ngSubmit)="createdata(contactForm)" invalidate>
                            <div class="row">
                                <div class="col-md-6 mb-1">
                                    <div class="form-outline">
                                        <label class="form-label" for="firstName">First
                                            Name</label>
                                        <input type="text" class="form-control form-control-lg" name="firstName"
                                            [(ngModel)]="formdata.firstName" #firstname="ngModel" required minlength="5"
                                            maxlength="20" />
                                        <div *ngIf="!firstname?.valid && (firstname?.dirty || firstname?.touched)"
                                            class="error">
                                            <div *ngIf="firstname.errors">
                                                First Name is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-1">
                                    <div class="form-outline">
                                        <label class="form-label" for="lastName">Last
                                            Name</label>
                                        <input type="text" id="lastName" class="form-control form-control-lg"
                                            name="lastName" [(ngModel)]="formdata.lastName" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-1 d-flex align-items-center">
                                    <div class="form-outline datepicker w-100">
                                        <label for="birthdayDate" class="form-label">Gender</label>
                                        <input type="text" class="form-control form-control-lg" name="gender"
                                            [(ngModel)]="formdata.gender" />
                                    </div>
                                </div>
                                <div class="col-md-6 mb-1 d-flex align-items-center">
                                    <div class="form-outline datepicker w-100">
                                        <label for="birthdayDate" class="form-label">address</label>
                                        <input type="text" class="form-control form-control-lg" name="address"
                                            [(ngModel)]="formdata.address" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" name="state">
                                <div class="col-md-6 mb-1 d-flex align-items-center">
                                    <div class="form-outline datepicker w-100">
                                        <label for="birthdayDate" class="form-label">state</label>
                                        <input type="text" class="form-control form-control-lg" name="name"
                                            [(ngModel)]="formdata.state.name" required="formdata" />
                                    </div>
                                </div>
                                <div class="col-md-6 mb-1 d-flex align-items-center">
                                    <div class="form-outline datepicker w-100">
                                        <label for="birthdayDate" class="form-label">stateabbreviation</label>
                                        <input type="text" class="form-control form-control-lg" name="abbreviation"
                                            [(ngModel)]="formdata.state.abbreviation" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">
                                    <div class="form-outline datepicker w-100">
                                        <label class="form-label" for="form3Example8">City</label>
                                        <input type="text" class="form-control form-control-lg" name="city"
                                            [(ngModel)]="formdata.city" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-left: 20px;">
                                <div class="col-md-6 mb-3 d-flex align-items-center">
                                    <button [routerLink]="['/Header1','ListView1']" class="btn btn-dark btn-lg"
                                        style="width:250px;">cancel</button>
                                </div>
                                <div class="col-md-6 mb-3 d-flex align-items-center">

                                    <button type="submit" style="width:250px;" class="btn btn-success btn-lg"
                                        [disabled]="!contactForm.valid">add customer</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>