<app-header1></app-header1>
<!--
<button class="btn btn-success" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" >add new customer</button>

 
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">customer details</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">

           
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">id</label>
                    <input type="text" class="form-control" id="exampleInputId" aria-describedby="emailHelp" formControlName="id">
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">firstName</label>
                    <input type="text" class="form-control" id="exampleInputFirstName" aria-describedby="emailHelp" formControlName="firstName">
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">gender</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" formContronName="gender" formControlName="gender">
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">address</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" formContronName="address" formControlName="address" >
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">city</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" formContronName="city" formControlName="city">
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">stateName</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" formContronName="stateName" formControlName="stateName">
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">stateAbbreviation</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" formContronName="stateAbbreviation" formControlName="stateAbbreviation">
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">productName</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" formContronName="productName" formControlName="productName">
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">itemCost</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" formContronName="itemCost " formControlName="itemCost">
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">latitude</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" formContronName="latitude" formControlName="latitude">
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">longitude</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" formContronName="longitude" formControlName="longitude">
                  </div>

            

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">add</button>
        </div>

      </div>
    </div>
  </div>

  <form [formGroup]=" formValue">  </form>
-->