<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #1e7ddb; width: auto;">
    <span>
      <img class="image" src="./assets/images/people.png" />
    </span>
    <div class="container-fluid ">

      <a routerLinkActive="active" routerLink="/Customer1">Customer Manager</a>

      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 pl-9 ">
          <li>
            <a aria-current="page" routerLinkActive="active" routerLink="/ListView1">Customers</a>
          </li>
          <li>
            <a aria-current="page" routerLink="/CustomersOrders1" routerLinkActive="active">Orders</a>
          </li>
          <li>
            <a aria-current="page" routerLink="/AboutA" routerLinkActive="active">About</a>
          </li>
          <li *ngIf="login===true">
            <a aria-current="page" routerLink="/LoginA" routerLinkActive="active">Login</a>
          </li>
          <li *ngIf="login===false">
            <a aria-current="page" routerLink="/LoginA" routerLinkActive="active">LogOut</a>
          </li>
        </ul>
      </div>

    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>




</body>

</html>