<app-header></app-header>
<!-- <h1>welcome to customer page</h1> -->
<!-- <img src="./assets/images/Customers_Part_of_Company_Blog.png" width="500px" /> -->

<!-- <iframe src="https://kanerika.com/" style="width:100%;height: 600px;"> </iframe> -->

<p> Enterprises are sitting on large amounts of data – data related to operations, customers, partners, suppliers, and every
    system that’s part of the enterprise ecosystem. Tremendous information is residing in data that needs to be turned into
    insights. Enterprises taking the lead in collating and analysing this massive data are the ones to stay ahead of the
    curve. Organizations are deploying analytics to deliver value at every step of the customer journey. Whereas top
    executives are looking at analytics for taking strategic business decisions. While the results are promising,
    organizations need a cohesive data and analytics platform that is rooted in effective data management practices and
    supported by powerful tools.
    
    Kanerika delivers business intelligence and analytics solutions which are based on a foundation of a comprehensive data
    fabric. With the right set of tools, Kanerika effectively integrates data and uncover insights through powerful business
    intelligence system with attractive visual dashboards and scorecards. Powered by artificial intelligence (AI), Kanerika
    empowers organizations with enhanced decision-making capabilities. Kanerika takes an agile approach ensuring faster
    deployment with minimal downtime.</p>