<app-header></app-header>
<h1>welcome to customer page</h1>
<img src="./assets/images/Customers_Part_of_Company_Blog.png" width="500px" />
<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
  <nav class="navbar navbar-dark menu" style="margin-top: auto;padding-left: 0%;margin: 0%; background-color: #1e90ff;">
    <div class="container " style="padding:0%;margin-top: 0%;margin-left: 2%;">
      <span>
        <img class="image" src="./assets/images/people.png" />
      </span>
     
      <span class="hd" routerLinkActive="active"  routerLink="/Customer1Component" >Customers Manager</span>
    
    <span class="hd" routerLinkActive="active"  routerLink="/CustomersA" >Customers</span>
   <span class="hd" routerLink="/OrdersAComponent" routerLinkActive="active" >orders</span>
   <span class="hd" routerLink="/AboutAComponent"  routerLinkActive="active">about</span>
   <span class="hd" routerLink="/CustomerLogin1Component" routerLinkActive="active">login</span>
    </div>
  </nav>
   

  <div class="searchfilter">
 
   <fa-icon class="ficon" [icon]="faUser" style="color:rgb(211, 51, 80);padding:10px;"></fa-icon>
   <span  class="ics" style="color:rgb(37, 150, 206);">  Customers</span>
 </div>
 
        
                  
</body>
</html>
-->