<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
#div1{
    margin-left: 450px;
    margin-top: 50px;
    border: solid 2px silver;
    box-shadow:2px 3px 3px 3px rgb(155, 148, 190);
    border-radius: 30px;
    width: 400px;
    height: 500px;
    text-align: center;
    background-color: aliceblue;
    
}

input{
    margin-left: 20px;
    border:none;
    border-bottom: solid;
    background-color: transparent;
    outline: none;
    
}
button{

    color:black;
    border-radius: 5px;
    background-color:red;
}

    </style>
</head>
<body>
    <form>
   <div id=""> <div id="div1"><br/>
        <img src="./assets/images/people.png" style="width: 60px;"/>
        <h3>customer login</h3>
        <br/><br/> 
     <b><label>username</label>
        
        <input type="email"   #i1 required   />
        
        <br/><br/>
        
     <label>password</label>
     <input #i2 type="password" maxlength="12" minlength="8" (keyup)="g(i1.value&&i2.value)"  (mouseout)="blur1()" required />
    
     <br/><br/>  <h6 style="display:none;" #h1>max-length(12),min-length(8)</h6>
     
     <button #buton  [disabled]="disable" (click)="loginToCustomer([i1.value&&i2.value])" RouterLink="/Customer1Component" > login</button>   
     
    </b>



    </div>
    </div>
</form>
</body>

</html>
