<app-header></app-header>
<app-header2></app-header2>
<ng-template [ngIf]="'customer.valid'">
    <div>

        <div >
            <h1>Orders for {{customer?.firstName}} {{customer?.lastName}}</h1>
        </div>
        <div>
            <table>
                <tr>{{customer?.state?.name}}
                   
                </tr>
                <tr>
                    <td *ngFor="let order of customer?.orders">
                        {{order?.productName}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</ng-template>


    
