<app-header></app-header>
<app-header2></app-header2>
<ng-template [ngIf]="'names'">
    <div>

        <div>
            <h1>Orders for {{data?.firstName}} {{data?.lastName}}</h1>
        </div>
        <div>
            <table>
                <tr>{{data?.state.name}}
                   
                </tr>
                <tr>
                    <td *ngFor="let order of data.orders">
                        {{order.productName}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</ng-template>