<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <p>assignment1 works!</p>
        <h1>hello world</h1>
        <button (click)="hello('ram')">click to get out put on console</button>
        <br />
        <br />

        <p><label>keydown</label><input #i1 (keydown)="getName(i1.value)" /></p>
        <br />
        <br />
        <label>keyup</label>
        <input #i2 (keyup)="getName(i2.value)" />
        <br />
        <br />
        <label>input</label>
        <input id="i3" #i3 (input)="getName(i3.value)" />
        <br />
        <br />
        <label>blur</label>
        <input #i4 (blur)="getName(i4.value)" />
        <h1>{{i1.value}}|{{i2.value}}|{{i3.value}}|{{i4.value}}</h1>

        <h3 class="id" (mouseover)="get('hello')">hello</h3>
    </div>



    <div class="div1" name="hel">
        <h1>counter value increase and decrease</h1>
        <button (click)="value('add')">add</button>
        <h1>count:{{value1}}</h1>
        <button (click)="value('minus')">minus</button>
        <h1 style="color:brown">interpolation and property binding interpolation does show the difference betwenn the
            boolean value</h1>
        <input value={{name}} disabled={{disable}} />
        <input value="propety binding" [disabled]=disable />
        <button (click)="whg()">disable &enable input </button>

        <div id="dic">
            <h1 *ngIf="show;then if1 else elseb"></h1>
            <ng-template #if1>
                <h1>hello world</h1>
            </ng-template>
            <ng-template #elseb>
                <h1>hello world else condition</h1>
            </ng-template>
            <h3>
                <h1 *ngFor="let item of student"> name:{{item.name}}--age: {{item.age}}--mail:{{item.email}}</h1>
            </h3>
        </div>
    </div>
</body>

</html>


<!-- <section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <form #contactForm="ngForm" (ngSubmit)="createdata(contactForm)" invalidate>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="firstName">First Name</label><br />
                                <input type="text" class="form-control form-control-lg" name="firstName"
                                    [(ngModel)]="formdata.firstName" #firstname="ngModel" required minlength="5"
                                    maxlength="20" />
                                <div *ngIf="!firstname?.valid && (firstname?.dirty || firstname?.touched)"
                                    class="error">
                                    <div *ngIf="firstname.errors">
                                        First Name is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="lastName">Last Name</label><br />
                                <input type="text" id="lastName" class="form-control form-control-lg" name="lastName"
                                    [(ngModel)]="formdata.lastName" />
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example8">Gender</label><br />
                                    <input type="text" class="form-control form-control-lg" name="gender"
                                        [(ngModel)]="formdata.gender" />
                                </div>
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example8">Address</label><br />
                                <input type="text" class="form-control form-control-lg" name="address"
                                    [(ngModel)]="formdata.address" />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example8">City</label><br />
                                <input type="text" class="form-control form-control-lg" name="city"
                                    [(ngModel)]="formdata.city" />
                            </div>
                            <div class="row" name="state">
                                <div class="col-md-6 mb-4" class="form-outline">
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="statename">
                                            statename</label><br />
                                        <input type="text" class="form-control form-control-lg" name="name"
                                            [(ngModel)]="formdata.state.name" required="formdata" />
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="stateabbreviation">
                                            stateabbreviation</label><br />
                                        <input type="text" class="form-control form-control-lg" name="abbreviation"
                                            [(ngModel)]="formdata.state.abbreviation" />
                                    </div>
                                </div>
                            </div>


                            <h1 class="mb-2 pb-1"> Orders</h1>
                            <div class="row" name="orders">
                                <div class="col-md-6 mb-4" class="form-outline" *ngFor="let d of formdata.orders">
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="statename">
                                            productName</label><br />
                                        <input type="text" class="form-control form-control-lg" name="productName"
                                            [(ngModel)]="d.productName" />
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="stateabbreviation">
                                            itemCost</label><br />
                                        <input type="text" class="form-control form-control-lg" name="itemCost"
                                            [(ngModel)]="d.itemCost" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="lastName">
                                    Latitude</label><br />
                                <input type="text" id="lastName" class="form-control form-control-lg" name="Latitude"
                                    [(ngModel)]="formdata.latitude" />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="lastName">
                                    Longitude</label><br />
                                <input type="text" id="lastName" class="form-control form-control-lg" name="longitude"
                                    [(ngModel)]="formdata.longitude" />
                            </div>
                            <button type="submit" class="btn btn-success btn-lg mb-1"
                                [disabled]="!contactForm.valid">add
                                Customer </button>
                            <p>{{contactForm.valid}} </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center ">
            <div class=" col-xl-6">
                <div class="card shadow-2-strong card-registration" style="border-radius: 5px;">
                    <div class="card-body p-4 " style="background-color: rgb(220, 224, 227);">
                        <form #contactForm="ngForm" (ngSubmit)="createdata(contactForm)" invalidate>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="firstName">First
                                            Name</label>
                                        <input type="text" class="form-control form-control-lg" name="firstName"
                                            [(ngModel)]="formdata.firstName" #firstname="ngModel" required minlength="5"
                                            maxlength="20" />
                                        <div *ngIf="!firstname?.valid && (firstname?.dirty || firstname?.touched)"
                                            class="error">
                                            <div *ngIf="firstname.errors">
                                                First Name is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="lastName">Last
                                            Name</label>
                                        <input type="text" id="lastName" class="form-control form-control-lg"
                                            name="lastName" [(ngModel)]="formdata.lastName" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">
                                    <div class="form-outline datepicker w-100">
                                        <label for="birthdayDate" class="form-label">Gender</label>
                                        <input type="text" class="form-control form-control-lg" name="gender"
                                            [(ngModel)]="formdata.gender" />
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 d-flex align-items-center">
                                    <div class="form-outline datepicker w-100">
                                        <label for="birthdayDate" class="form-label">address</label>
                                        <input type="text" class="form-control form-control-lg" name="address"
                                            [(ngModel)]="formdata.address" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" name="state">
                                <div class="col-md-6 mb-4 d-flex align-items-center">
                                    <div class="form-outline datepicker w-100">
                                        <label for="birthdayDate" class="form-label">state</label>
                                        <input type="text" class="form-control form-control-lg" name="name"
                                            [(ngModel)]="formdata.state.name" required="formdata" />
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 d-flex align-items-center">
                                    <div class="form-outline datepicker w-100">
                                        <label for="birthdayDate" class="form-label">stateabbreviation</label>
                                        <input type="text" class="form-control form-control-lg" name="abbreviation"
                                            [(ngModel)]="formdata.state.abbreviation" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4 d-flex align-items-center">
                                <div class="form-outline datepicker w-100">
                                    <label class="form-label" for="form3Example8">City</label><br />
                                    <input type="text" class="form-control form-control-lg" name="city"
                                        [(ngModel)]="formdata.city" />
                                </div>
                            </div>
                            <div name="orders" class="row" *ngFor="let d of formdata.orders">
                                <div class="col-md-6 mb-4 d-flex align-items-center">
                                    <div class="form-outline datepicker w-100">
                                        <label class="form-label" for="statename">
                                            productName</label><br />
                                        <input type="text" class="form-control form-control-lg" name="productName"
                                            [(ngModel)]="d.productName" />
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 d-flex align-items-center">
                                    <div class="form-outline datepicker w-100">
                                        <label class="form-label" for="stateabbreviation">
                                            itemCost</label><br />
                                        <input type="text" class="form-control form-control-lg" name="itemCost"
                                            [(ngModel)]="d.itemCost" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline">
                                        <label class="form-label" for="emailAddress">Latitude</label>
                                        <input type="text" id="lastName" class="form-control form-control-lg"
                                            name="Latitude" [(ngModel)]="formdata.latitude" />
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline">
                                        <label class="form-label" for="phoneNumber">Longitude</label>
                                        <input type="text" id="lastName" class="form-control form-control-lg"
                                            name="longitude" [(ngModel)]="formdata.longitude" />
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 pt-2">
                                <button type="submit" class="btn btn-dark btn-lg" routerLink="/ListView1">cancel
                                </button>
                                <button type="submit" class="btn btn-success btn-lg" style="float: right;"
                                    [disabled]="!contactForm.valid">addCustomer
                                </button>
                                <!-- <p>{{contactForm.valid}} </p> 
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 -->
 <!-- <button  ngxPrint printSectionId="table" >pdf</button> -->
<!-- <div class="container" style="width: 500px;margin-top:20px;">
  <select 
    [(ngModel)]="l.gender"
    class="form-control">
    <option value="all">Filter by gender</option>
    <option value="male">M</option>
    <option value="female">F</option>
  </select>

</div> -->
<!-- <b style="float: right;margin-bottom: 5px;"><label class="button1" style="font-weight:lighter;margin-left: 20px;">Filter
  :</label>
<input type="text" placeholder="search" [(ngModel)]="sear"
  style="margin-right: 32px;border:solid 1px black;border-radius:2;" />
</b>
<br /><br /> -->


<!--

<div>
    hello
    <ul *ngFor="let d of user">
<li>{{d.email}}</li>
<li>{{d.password}}</li>

    </ul>
</div>
<form>
    
    <div class="form-outline mb-4">
      <input type="text" id="form2Example1" class="form-control" name="email" [(ngModel)]="formdata.email" />
      <label class="form-label" for="form2Example1">Email address</label>
    </div>
  
   
    <div class="form-outline mb-4">
      <input type="text" id="form2Example2" class="form-control" name="password" [(ngModel)]="formdata.password" />
      <label class="form-label" for="form2Example2">Password</label>
    </div>
  
    <button type="button" class="btn btn-primary btn-block mb-4" (click)="createdata()">Sign in</button>
  
  </form> -->
  <!-- <button (click)="pdf()">generate</button> -->

  <!-- 
    <input type="text" placeholder="name" [(ngModel)]="text" />
<button (click)="getbyname(text)" >search</button>
<app-header></app-header>
<table class="table table-striped" id="table">
<thead>
  <tr>
      <th></th>
      <th>FirstName</th>
      <th>Lastname</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>OrderTotal</th>
      <th></th>
  </tr>

</thead>
<tbody style="font-size: 15px;"  *ngFor="let customer of users">
  <tr   *ngIf="text===''"
      style="border:2px solid none;">

      <td *ngIf="customer.gender==='male'">
          <img *ngIf="customer.gender==='male'" src="./assets/images/male.png" width="60px"
              style="float: left;padding-right: 10px;" />

      </td>
      <td *ngIf="customer.gender==='female'">
          <img *ngIf="customer.gender==='female'" src="./assets/images/female.png" width="60px"
              style="float: left;padding-right: 10px" />
      </td>



      <td [routerLink]="['/Togglebar',customer.id]" style="cursor: pointer;color: rgb(61, 61, 180);">
          {{customer.firstName}}</td>
      <td>{{customer.lastName}}</td>
      <td>{{customer.address}}</td>
      <td>{{customer.city}}</td>
      <td >{{customer.state.name}}</td>
      <td>{{customer.cost|number}}</td>
      <td [routerLink]="['/Togglebar1',customer.id]" style="cursor: pointer;color: rgb(61, 61, 180);">view orders
      </td>

  </tr>
 
</tbody>

</table>

<pagination-controls (pageChange)="p = $event" class="float-right" style="float: left;"></pagination-controls>
   -->
   <!-- 
    // pdf() {
  //   var pdf = new jspdf();
  //   pdf.html(this.el.nativeElement, {
  //     callback: (pdf) => {
  //       pdf.save('hello.pdf')
  //     }
  //   })
 4628
 
  // }
  // addUserForm = new FormGroup({
  //   name: new FormControl('', [Validators.required]),
  //   age: new FormControl('', [Validators.required]),
  // });

  // l = {
  //   firstName: '', lastName: '',
  //   gender: 'all',
  //   address: '',
  //   city: '',
  //   state: { abbreviation: '', name: '' },
  //   orders: [{
  //     productName: '',
  //     itemCost: null
  //   }
  //   ]
  //   ,
  //   latitude: null, longitude: null
  // }




  text=''
  getbyname(val:any){
    console.log(val)
    this.httpservice.getfilterdata(val).subscribe((data:any)=>{
      //this.users=every(data.push(data));
      
      // this.users=val.filter((res:any)=>{
      //   res.firstName==val.value
      // })
     
     
    })
      
    }
    ngOnDestroy() {
      this.user.unsubscribe();
    }
    
    
     

    
  
  getdata(id:any){
    
  }
  getAllCustomerData() {
    this.httpservice.getAllCustomerData().subscribe(response => {
      this.userdata = response;
      this.userdata.map((c: any) => {
        c['cost'] = 0.0
        if (c?.orders) {
          c.orders.map((o: any) => {
            c['cost'] = c['cost'] + o.itemCost;
          });
        };
      })
      console.log(this.userdata)
    })

  }
 this.getAllCustomerData();
    // this.getbyname(this.id.nativeElement).subscribe(data=>{
    //   this.users=data
    // })


     @ViewChild('table', { static: false }) el!: ElementRef;
  user: any
  sear: string = '';
  p: number = 1;
  total: number = 0;
  users: any = [];
  @ViewChild('inputa',{static:false}) id!:ElementRef;
    -->

    <!-- 


         // exportfile(data:any){
  //  const excel_type='application/nd.openxmlformats-officedocument.spreadsheetml.sheet;charset=UTF-8';
  //  const extension='.xlsx';
  //  const worksheet=XLSX.utils.json_to_sheet(data) ;
  //  const workbook={
  //   sheets:{
  //     'cdata':worksheet
  //   },
  //   sheetNames:['cdata']
  //  }
  //  const excelbuffer=XLSX.write(workbook,{bookType:'xlsx',type:'array'});
  //  const blobdata=new Blob([excelbuffer],{})
  // }

}
  // routeToViewOrder(data:any) {
  //   //console.log(data)
  //   this.route.navigate(['Togglebar1'],
  //     {
  //       queryParams: {
  //         data: JSON.stringify(data)

  //       }
  //     }
  //   );

  // }

  // routeToCustomerDetails(data: any) {
  //   //debugger;
  //   this.route.navigate(['Togglebar'],
  //     {
  //       queryParams: {
  //         data: JSON.stringify(data),

  //       }

  //     }
  //   );
  // }


  // this.router.queryParams.subscribe((paramdata:any) => {
    //   this.names = JSON.parse(paramdata.data)
    //   console.log(paramdata)
    //   console.log(this.names)
      // this.names.map((c: any) => {
      //   c['cost'] = 0.0
      //   if (c?.orders) {
      //     c.orders.map((o: any) => {
      //       c['cost'] = c['cost'] + o.itemCost;
      //     });
      //   };
      // })
     -->