<!-- <div id="icon">

    <fa-icon [icon]="faUser" style="font-size: 30px;"></fa-icon>
    <span class="ics"> Customers Information</span>
</div> -->
<app-headersection></app-headersection>
<div class="container" style="margin-top:10px ;margin-left:50px;margin-right: 0px;">
    <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarSupportedContent2">


            <span ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills">

                <span [ngbNavItem]="1">

                    <a ngbNavLink style="color:rgb(7, 5, 5);">
                        <fa-icon [icon]="faList" style="font-size: 20px;color: rgb(218, 218, 218);"></fa-icon>
                        ListView
                    </a>

                    <ng-template ngbNavContent>
                        <div>
                            <b style="float: right;margin-bottom: 5px;"><label class="button1"
                                    style="font-weight:lighter;margin-left: 20px;">Filter
                                    :</label>
                                <input type="text" placeholder="search" [(ngModel)]="search"
                                    style="margin-right: 32px;border:solid 1px black;border-radius:2;" />
                            </b>
                            <br /><br />
                        </div>
                        <table class="table table-striped menu">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>FirstName</th>
                                    <th>Lastname</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>OrderTotal</th>
                                    <th></th>
                                </tr>

                            </thead>
                            <tbody style="font-size: 15px;">
                                <tr *ngFor="let customer of allcustomerdata|filter:search|paginate: { itemsPerPage: 5, currentPage: p }"
                                    style="border:2px solid none;">

                                    <td *ngIf="customer.gender==='male'">
                                        <img *ngIf="customer.gender==='male'" src="./assets/images/male.png"
                                            width="60px" style="float: left;padding-right: 10px;" />

                                    </td>
                                    <td *ngIf="customer.gender==='female'">
                                        <img *ngIf="customer.gender==='female'" src="./assets/images/female.png"
                                            width="60px" style="float: left;padding-right: 10px" />
                                    </td>



                                    <td (click)="routeToCustomerDetails(customer.id)"
                                        style="cursor: pointer;color: rgb(61, 61, 180);">
                                        {{customer.firstName}}</td>
                                    <td>{{customer.lastName}}</td>
                                    <td>{{customer.address}}</td>
                                    <td>{{customer.city}}</td>
                                    <td>{{customer.state.name}}</td>
                                    <td>{{customer.cost|number}}</td>
                                    <td (click)="routeToViewOrder(customer)"
                                        style="cursor: pointer;color: rgb(61, 61, 180);">view orders
                                    </td>

                                </tr>
                            </tbody>

                        </table>

                        <pagination-controls (pageChange)="p = $event" class="float-right" style="float: left;">
                        </pagination-controls>
                    </ng-template>
                </span>
                <span [ngbNavItem]="2">
                    <a ngbNavLink style="color:rgb(14, 13, 13);">
                        <fa-icon [icon]="faIdCard"
                            style="font-size: 20px;margin-right: 10px;color: rgb(252, 251, 251);"></fa-icon>
                        CardView
                    </a>
                    <ng-template ngbNavContent>
                        <b class="filter">
                            <label class="button1">Filter </label>
                            <input type="text" placeholder="search" [(ngModel)]="search" class="input1" />
                        </b><br /><br />
                        <div class="row menu">
                            <div class="col-md-12">
                                <div class="x_panel">
                                    <div class="x_content">
                                        <div class="row">


                                            <div class="col-md-4 col-sm-4 col-xs-12 profile_details menu1"
                                                *ngFor="let customer of allcustomerdata|paginate: { itemsPerPage: 8, currentPage: p }|filter:search;">

                                                <div class="box-body menu2">

                                                    <div class="menu3">

                                                        <span class="span1">{{customer.firstName|titlecase}}
                                                            {{customer.lastName|titlecase}}</span>
                                                        <fa-icon [icon]="faPenToSquare"></fa-icon>

                                                    </div>

                                                    <div class="col-sm-12 menu4">

                                                        <div style="margin:8px;">

                                                            <img *ngIf="customer.gender==='male'"
                                                                src="./assets/images/male.png" width="80px" />
                                                            <img *ngIf="customer.gender==='female'"
                                                                src="./assets/images/female.png" width="80px" />

                                                        </div>
                                                        <div>
                                                            <span>{{customer.city}}</span>
                                                            <br />
                                                            <span>{{customer.state.name}}</span>
                                                            <br />
                                                            <span class="span2" [routerLink]="['headerSection/Customerorders',customer.id]">ViewOrders</span>
                                                            <br />
                                                        </div>
                                                        <br />
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <pagination-controls (pageChange)="p=($event)" class="float-right" style="float: left;">
                        </pagination-controls>
                    </ng-template>
                </span>
                <span [ngbNavItem]="3">
                    <a ngbNavLink style="color:rgb(6, 6, 6);">
                        <fa-icon [icon]="faMapLocationDot"
                            style="font-size: 20px;margin-right: 10px;color: rgb(252, 249, 249);">
                        </fa-icon>MapView
                    </a>
                    <ng-template ngbNavContent>
                        <google-map height="400px" width="700px" [center]="center" [zoom]="zoom" style="float: right;"
                            (mapClick)="moveMap($event)" (mapMousemove)="move($event)" (mapClick)="addMarker($event)">
                            <map-marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition"
                                [options]="markerOptions">
                            </map-marker>
                            
                        </google-map>
                        
                          
                    </ng-template>
                </span>
                <span [ngbNavItem]="4">
                    <a ngbNavLink style="color:rgb(11, 11, 11);">
                        <fa-icon [icon]="faPlus" style="font-size: 20px;margin-right: 10px;color: rgb(246, 242, 242);">
                        </fa-icon>EditCusomer
                    </a>
                    <ng-template ngbNavContent>

                    </ng-template>
                </span>
            </span>



        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent2"
            aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>

    <!-- <pre>Active: {{ active }}</pre> -->