<p>employeedata works!</p>
<div>
    <h1>fetching the emploee data</h1>

    <table class="table">

        <thead>
            <tr>
                <th>useid</th>
                <th>id</th>
                <th>title</th>
                <th>body</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employeedata of students ">
                <td>{{employeedata.userId}}</td>
                <td>{{employeedata.id}}</td>
                <td>{{employeedata.title}}</td>
                <td>{{employeedata.body}}</td>
            </tr>
        </tbody>


    </table>




</div>