<p>employeedata works!</p>
<div>
    <h1>fetching the emploee data</h1>

    <table style="border:2px solid black;">
        <thead>
            <th>useid</th>
            <th>id</th>
            <th>title</th>
            <th>body</th>
        </thead>
        <tbody>
            <tr *ngFor="let employeedata of students " style="border:2px solid blue;">
                <td>{{employeedata.userId}}</td>
                <td>{{employeedata.id}}</td>
                <td>{{employeedata.title}}</td>
                <td>{{employeedata.body}}</td>
            </tr>
        </tbody>


    </table>




</div>