<a [routerLink]="['/CardView1']">
 </a>
<router-outlet></router-outlet>



<!--
<div class="container">

    <h1>parent data</h1>
    <input type="text" value="parent" [(ngModel)]="parentData"    />
    <input  type="button" value="add"  (click)="transferData()"  />

</div>
<app-new-customer1 [parentData]="parentData" ></app-new-customer1>
<!--  <div>
<p>hello world</p>
<button (click)="getMessage()">click me</button>
<div *ngIf="edit; then id else noEdit">hello world you can edit me if you want by clicking the button </div>
<ng-template   #noEdit>
<p>you cannot edit me now</p>
</ng-template>
<ng-template   #id>
    <p>you clicked me</p>
    </ng-template>
<p  [contentEditable]="edit"></p>
<button (click)="log()"> increase the count value</button>
{{count}}
</div>
-->



