<p>childdata</p>
<h1 style="background-color: cornflowerblue;">@input:{{childdata}}</h1>

<h1 style="background-color: aquamarine;">@viewChild decorator:  <br/>{{variable}}</h1>


<hr/>

<h1>passing data from child to parent using output decorator</h1>
<input   class="form-control"  #name/>
<button   class="btn btn-primary" (click)="dataevent.emit(name.value)">pass</button>
<hr/>
<h1>session manaaegment</h1>
<h2  style="background-color: rgb(184, 182, 202);">welcome to {{name1}}</h2>
 <div [hidden]="hidefile">
    <h1>toggle property</h1>
  <h2>{{comment}}</h2>
 </div>
 <button (click)="toggle()">hide the hello world </button>
 <div>
    <h1>directives</h1>
    <h1 *ngIf="children?.noOfchildren">
        
    </h1>
    {{children.noOfchildren??'no child'}}
 </div>
 <div>co</div>