<app-header></app-header>
<style>

.container
{
    -webkit-padding-end: 20%;

}

.active{
    color: #4a40d6;
}

.span
{ 
    font-size: 18px;
font-weight: lighter;
font-style: oblique;
}
</style>
<nav  class="navbar navbar-expand-md" style="overflow:auto;">
    <div class="container">
      
    <span class="span" #b1  routerLinkActive="active"  routerLink="/CustomersDetails1Component"><b>CustomersDetails</b></span>
    <span class="span" #b2  routerLinkActive="active"  routerLink="/CustomersOrders1Component"><b>CustomersOrders</b></span>
    <span class="span" #b3  routerLinkActive="active"  routerLink="/EditCustomer1Component" ><b>EditCustomers</b></span>
  
  </div>
  </nav>