span {
  font-size: 18px;
  font-weight: bolder;
}

.active {
  color: #000000 !important;
}

li {
  padding-left: 17px;

}

.ficon {
  color: #919191;
  font-size: 100%;
  padding: 10px;
}



a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

.view {
  color: #919191;
  font-size: 16px;
  font-weight: bold;
}

img,
a {
  margin-left: 30px;
}

.ics {
  color: rgb(51, 49, 49);
  font-size: 25px;
  margin-left: 10px;
  font-weight: 400;
}
a:hover{

  text-shadow: #111211 2px 2px 2px ;
}
.image:hover{
 
  background-color: #d8dadc;
  border-radius: 18px;
  border: solid  #000000 1px ;
  
  }