<app-header></app-header>

<div style="margin:10px;">

  <fa-icon [icon]="faUser" style="font-size: 20px;margin-left: 40px;"></fa-icon>
  <span class="ics"> Customers</span>
</div>
<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid ">

    <div class="collapse navbar-collapse " id="navbarSupportedContent1">
      <ul class="navbar-nav">
        <li>


          <a class="view" routerLinkActive="active" [routerLink]="['/Header1','ListView1']">
            <fa-icon class="ficon" [icon]="faList" routerLinkActive="active"></fa-icon>ListView
          </a>
        </li>
        <li>

          <a class="view" routerLinkActive="active" [routerLink]="['/Header1','CardView1']">
            <fa-icon class="ficon" [icon]="faIdCard" routerLinkActive="active">
            </fa-icon>CardView
          </a>
        </li>
        <li>

          <a class="view" routerLinkActive="active" [routerLink]="['/Header1','MapView']">
            <fa-icon class="ficon" [icon]="faMapLocationDot" routerLinkActive="active">
            </fa-icon>MapView
          </a>
        </li>
        <li>

          <a class="view" routerLinkActive="active" [routerLink]="['/Header1','NewCustomer']">
            <fa-icon class="ficon" [icon]="faPlus" routerLinkActive="active">
            </fa-icon>NewCustomer
          </a>
        </li>
      </ul>
    </div>
    <a class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent1"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </a>
  </div>
</nav>
<router-outlet></router-outlet>