<app-header></app-header>
<div style="margin: 20px;">
    <!-- <button class="btn btn-primary" (click)="goback()">back</button> -->
    <b style="float: right;margin-bottom: 5px;"><label class="button1"
            style="font-weight:lighter;margin-left: 0px;">Filter
            :</label><br />
        <input type="text" placeholder="search" [(ngModel)]="sear"
            style="margin-right:100px;border:solid 1px black;border-radius: 2px;" />
    </b>
    <br />
</div>
<div style="align-items: center;margin-top: 40px;margin: 20px;">
    <table class="table table-striped">
        <thead>
            <tr>

                <th>id</th>
                <th scope="col">CustomerName</th>
                <th scope="col">Orders</th>
                <th>itemCost</th>
                <th>totalCost</th>

            </tr>
        </thead>
        <tbody *ngFor="let order of userdata|filter:sear|paginate: { itemsPerPage: 8, currentPage: p }">

            <tr style="border:2px solid none;">

                <td>{{order.id}}</td>
                <td [routerLink]="['/Togglebar',order.id]" style="cursor: pointer;color: rgb(61, 61, 180);">
                    {{ order.firstName }} {{order.lastName}}
                </td>

                <td>
                    <ul *ngFor="let o of order.orders">
                        <li [routerLink]="['/Togglebar1',order.id]" style="cursor: pointer;color: rgb(61, 61, 180);"> {{
                            o.productName}} </li>
                    </ul>
                </td>
                <td>
                    <ul *ngFor="let o of order.orders">
                        <li>{{o.itemCost}}</li>
                    </ul>
                </td>

                <td>{{order.cost|number}}</td>

            </tr>

        </tbody>

    </table>

    <pagination-controls (pageChange)="p = $event" class="float-right" style="float: left;"></pagination-controls>

</div>