<app-header1></app-header1>
<style>
    th {
        background-color: #f6f8fa;
        overflow: auto;
    }

    th:hover {
        background-color: blanchedalmond;
    }
</style>

<b style="float: right;margin-bottom: 5px;"><label class="button1" style="font-weight:lighter;margin-left: 20px;">Filter
        :</label>
    <input type="text" placeholder="search" [(ngModel)]="sear"
        style="margin-left: 5px;border:solid 1px black;border-radius: 2;" />
</b>
<br /><br />
<table #table class="table table-striped" style="margin-left :30px ;">
    <thead>
        <tr>
            <th></th>
            <th>FirstName</th>
            <th>Lastname</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>OrderTotal</th>
            <th></th>
        </tr>

    </thead>
    <tbody style="font-size: 15px;">
        <tr ngApp *ngFor="let customer of customers|filter:sear|paginate: { itemsPerPage: 4, currentPage: p }"
            style="border:2px solid none;">

            <td *ngIf="customer.gender==='male'">
                <img *ngIf="customer.gender==='male'" src="./assets/images/male.png" width="60px"
                    style="float: left;padding-right: 10px;" />

            </td>
            <td *ngIf="customer.gender==='female'">
                <img *ngIf="customer.gender==='female'" src="./assets/images/female.png" width="60px"
                    style="float: left;padding-right: 10px" />
            </td>



            <td (click)="routeToCustomerDetails(customer)" style="cursor: pointer;color: rgb(61, 61, 180);">
                {{customer.firstName}}</td>
            <td>{{customer.lastName}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.city}}</td>
            <td>{{customer.state.name}}</td>
            <td>{{customer.cost|number}}</td>
            <td (click)="routeToViewOrder(customer)" style="cursor: pointer;color: rgb(61, 61, 180);">view orders
            </td>

        </tr>
    </tbody>

</table>

<pagination-controls (pageChange)="p = $event" class="float-right" style="float: left;"></pagination-controls>