<style>
    img {
        margin-left: 30px;
    }
</style>
<app-header></app-header>
<app-header2></app-header2>


<ng-template [ngIf]="'names'">

    <div>
        <span>{{names?.firstName}}</span><br />
        <img *ngIf="names?.gender==='male'" src="./assets/images/male.png" width="60px"
            style="float: left;padding-right: 10px;" />
        <img *ngIf="names?.gender==='female'" src="./assets/images/female.png" width="60px"
            style="float: left;padding-right: 10px" />

        <span>{{names?.lastName}}</span><br />
        <span>{{names?.gender}}</span><br />
        <span>{{names?.city}}</span><br />
        <span>{{names?.state?.name}}</span><br />

    </div>

</ng-template >
