

<div>

  <div style="margin: 20px;overflow-x: auto;">

    <google-map height="400px" width="700px" [center]="center" [zoom]="zoom" (mapClick)="moveMap($event)"
      (mapMousemove)="move($event)" (mapClick)="addMarker($event)">
      <map-marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition" [options]="markerOptions">
      </map-marker>

    </google-map>

    <div>
      <div>latitude:-{{display.lat}}</div>
      <div>ltngitude:-{{display.lng}}</div>
    </div>
  </div>
</div>
